:root {
    --just-green: #00FF00;
    --soft-green: #99FF99;
    --light-green: #C3FFC3;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

.poem {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 10px auto 30px;
    padding: 10px;
    color: var(--light-green);
    background-color: var(--warm-black);
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
}
.add-button {
    width: 50px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: var(--warm-black);
    border-color: var(--just-white);
    border-style: solid;
    border-radius: 5px;
}

.modal {
  font-family: sans-serif;
}